<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

      <nav>
      <a href="/">HOME</a>
      &nbsp;
      &nbsp;
      <a href="/users/signup">SIGNUP PAGE</a>
      &nbsp;
      &nbsp;
      <a href="/users/login">LOGIN</a>
      &nbsp;
      &nbsp;
      <a href="/logout">LOG OUT</a>
      &nbsp;
      &nbsp;
    </nav>

    {{{body}}}

    <script src='/javascripts/script.js'></script>
  </body>
</html>
